<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tj.boardExample.mapper.BoardMapper">



    <insert id="insertBoard" parameterType="com.tj.boardExample.dto.BoardDto">
        INSERT INTO board (brd_title, brd_content, user_key)
        VALUES (#{brdTitle}, #{brdContent}, #{userKey})
    </insert>

    <!--    게시판 전체 조회 api 만들기-->
    <select id="selectBoardList" resultType="com.tj.boardExample.dto.BoardDto">
        SELECT *
        FROM board
    </select>

    <select id="selectBoard" resultType="com.tj.boardExample.dto.BoardDto">
<!--        board 테이블로부터 모든 정보를 SELECT 하는 쿼리 작성 brd_key 는 조건이며, 자바로부터 받아올것-->
        SELECT *
        FROM board
        WHERE brd_key = #{brdKey}
    </select>

    <update id="updateBoard" parameterType="com.tj.boardExample.dto.BoardDto">
        UPDATE board
        SET brd_title = #{brdTitle}
        ,brd_content = #{brdContent}
        ,user_key = #{userKey}
        WHERE brd_key = #{brdKey}
    </update>

<!--    Integer brdKey = 1; 로 test 하기 때문에 int로 설정 -->
    <delete id="deleteBoard" parameterType="int">
        DELETE FROM board
        WHERE brd_key = #{brdKey}
    </delete>

</mapper>